body{
  font-family: 'Montserrat', sans-serif;
}

#title{
  background-color: #ff4c68;
  color: white;
}

.container-fluid{
  padding: 3% 15% 0;
}

/* Navigation Bar */

.navbar{
  padding-bottom: 4rem;
}

.navbar-brand{
  font-size: 2.2rem;
  font-family: 'Ubuntu', sans-serif;

}

.nav-link{
  margin: 0 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* Title */

/* Title Text */
h1{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
}

.title-para{
  color: white;
}

.arrow{
  height: auto;
  width: 100px;
  position: relative;
  left: 140px;
  top: 20px;
}

/* Title Buttons */
.download-btn{
  margin-top: 25px;
}

/* Title Image */
.title-image{

}

.hr1{
  width: 25%;
  border-top: 6px solid;
  margin-top: 0;
  margin: 0 0 45px;
}

/* Achievements */

#achievements{
  padding: 5% 3.42%;
}

.award{
  margin-left: 20px;
}

.ach-div{
  text-align: center;
  margin: 0 30%;
}

.ach-icon{
  color: #ef8172;
  font-size: 60px;
  margin-bottom: 20px;
}

.ach-icon:hover{
  color: #ff4c68;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

p.ach{
  color: #afafaf;
}

.video{
  margin-left: 3%;
  margin-top: 20%;
}

/* Testimonials */

#testimonials{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 30px 30px 0;
  position: relative;
  top: 15px;
}

.carousel-item{
  padding: 7% 10%;
}

em{
  font-size: 1.5rem;
  position: relative;
  top: 25px;
}

/* Famous Pieces */
.quote{
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  width: 40%;
  margin: 70px auto 50px;
}

.hr2{
  border-top: 5px dotted;
  border-color: #ff4c68;
  margin: 40px auto 40px;;
  width: 15%;
}

.fheading{
  font-family: 'Ubuntu', sans-serif;
  margin: 0 0 50px;
}

#famous-pieces{
  text-align: center;
}

.col{
  padding-bottom: 60px;
}

.card{
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 19px 13px #e8e8e8;
}

.card-header{
  height: 160px;
  padding: 0;
  overflow: hidden;
}

.songs{
  font-weight: 400;
  font-size: 17px;
  color: #ff4c68;
  text-decoration: none;
}

.songs:hover{
  font-size: 18px;
  color: #de7e8d;
}
